---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
const meta = {
	title: "About",
	description: "Designer",
};
---

<PageLayout meta={meta}>
	<div>
		<h1>About</h1>
		<p>
			I've been a designer and developer for 20 years, gaining experience
			working with clients of all sizes, spanning many industries.
		</p>
	</div>
</PageLayout>
