---
const year = new Date().getFullYear();
---

<footer>
	<div>
		Copyright &copy; {year}
		Design with Thought
	</div>
	<nav aria-label="More on this site">
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/posts">All Activity</a>
	</nav>
</footer>
