---
import ThemeToggle from "./ThemeToggle.astro";
const url = new URL(Astro.request.url);
---

<script>
	import { toggleClass } from "@/util";
	document.addEventListener("DOMContentLoaded", () => {
		const { body } = document;
		const toggleMenuButton = document.getElementById("toggle-navigation-menu");
		let menuOpen = false;
		toggleMenuButton.addEventListener("click", () => {
			toggleClass(body, "menu-open");
			toggleClass(toggleMenuButton, "text-accent");
			menuOpen = !menuOpen;
			toggleMenuButton.setAttribute("aria-expanded", menuOpen.toString());
		});
	});
</script>

<header>
	<span>
		<a
			href="/"
			class="logo"
			aria-current={url.pathname === "/" ? "page" : false}
		>
			<span>Design with Thought</span>
		</a>
		<nav id="navigation-menu" aria-label="Main">
			<a href="/" aria-current={url.pathname === "/" ? "page" : false}>Home</a>
			<a href="/about" aria-current={url.pathname === "/about" ? "page" : false}
				>About
			</a>
			<a href="/posts" aria-current={url.pathname === "/posts" ? "page" : false}
				>Activity
			</a>
		</nav>
	</span>
	<ThemeToggle />
	<button
		id="toggle-navigation-menu"
		type="button"
		aria-label="primary navigation"
		aria-expanded="false"
	>
		<svg
			fill="currentColor"
			viewBox="0 0 20 20"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				fill-rule="evenodd"
				d="M3 7a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 13a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
				clip-rule="evenodd"></path>
		</svg>
	</button>
</header>
