<div>
	<p>Find me on</p>
	<ul>
		<li>
			<a href="#" target="_blank" rel="noopener noreferrer">
				<span>Github</span>
			</a>
		</li>
		<li>
			<a href="#" target="_blank" rel="noopener noreferrer">
				<span>Twitter</span>
			</a>
		</li>
	</ul>
</div>
